<div style="width: 60%; margin: auto; padding: 10px; background-color: yellow">
  <div class="article-title">
  <h1 style="padding: 10px; background-color: orange"><%= @article.title %></h1>
  </div>
  <h3>by <%= @user.first_name %> <%= @user.last_name %></h3>
  <div class="article-body">
    <p style="padding: 10px; background-color: pink"><%= @article.body %></p>
  </div>
</div>
