<div class="jumbotron" style="padding: 30px; margin: 30px;">
  <h1>Welcome to the message board of the internet!</h1>
  <p>Dreamers, doers, thinkers, eaters, all are welcome here at the Message Board. Find out how to contribute and send messages on the internet! I'm sure it's a hospitable place.</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Become a denizen</a></p>
</div>
